<div id="left">
  <p id="matter"><a href="{{ '/' | relative_url }}">MATTER</a></p>

  <p>Topic</p>
  <ul id="leftTopic">
    <li><div class="archive key"></div><a data-tags="archive" href="#">Archiving</a></li>
    <li><div class="collection key"></div><a data-tags="collection" href="#">Collection</a></li>
    <li><div class="collective-memory key"></div><a data-tags="collective-memory" href="#">Collective Memory</a></li>
    <li><div class="ephemera key"></div><a data-tags="ephemera" href="#">Ephemera</a></li>
    <li><div class="forgetting key"></div><a data-tags="forgetting" href="#">Forgetting</a></li>
    <li><div class="internet key"></div><a data-tags="internet" href="#">Internet</a></li>
    <li><div class="monument key"></div><a data-tags="monument" href="#">Monument</a></li>
    <li><div class="surveillance key"></div><a data-tags="surveillance" href="#">Surveillance</a></li>
    <li><div class="technology key"></div><a data-tags="technology" href="#">Technology</a></li>
    <li><div class="key"></div><a class="red" href="#" data-tags="show-all">Show All</a></li>
  </ul>

  <p>Area</p>
  <ul id="leftArea">
    <li><div class="key fiction"></div><a data-tags="fiction" href="#">Fiction</a></li>
    <li><div class="key fine-art"></div><a data-tags="fine-art" href="#">Fine Art</a></li>
    <li><div class="key psychology"></div><a data-tags="psychology" href="#">Psychology</a></li>
    <li><div class="key philosophy"></div><a data-tags="philosophy" href="#">Philosophy</a></li>
    <li><div class="key media-theory"></div><a data-tags="media-theory" href="#">Media Theory</a></li>
    <li><div class="key"></div><a class="red" href="#" data-tags="show-all">Show All</a></li>
  </ul>

  <p>Format</p>
  <ul id="leftFormat">
    <li><div class="key text"></div><a data-tags="text" href="#">Text</a></li>
    <li><div class="key image"></div><a data-tags="image" href="#">Image</a></li>
    <li><div class="key video_key"></div><a data-tags="video" href="#">Video</a></li>
    <li><div class="key"></div><a class="red" href="#" data-tags="show-all">Show All</a></li>
  </ul>

  <a id="about" href="{{ '/about' | relative_url }}">About</a><br>
  <a href="{{ '/archive' | relative_url }}">Archive</a>
</div>
