<div id="left">
  <p id="matter"><a href="{{ '/' | relative_url }}">MATTER</a></p>

  <p>Tags</p>
  <ul id="leftTags">
    <li><a data-tags="archive" href="#">Archiving</a></li>
    <li><a data-tags="collection" href="#">Collection</a></li>
    <li><a data-tags="collective-memory" href="#">Collective Memory</a></li>
    <li><a data-tags="ephemera" href="#">Ephemera</a></li>
    <li><a data-tags="fiction" href="#">Fiction</a></li>
    <li><a data-tags="fine-art" href="#">Fine Art</a></li>
    <li><a data-tags="forgetting" href="#">Forgetting</a></li>
    <li><a data-tags="image" href="#">Image</a></li>
    <li><a data-tags="internet" href="#">Internet</a></li>
    <li><a data-tags="media-theory" href="#">Media Theory</a></li>
    <li><a data-tags="monument" href="#">Monument</a></li>
    <li><a data-tags="philosophy" href="#">Philosophy</a></li>
    <li><a data-tags="psychology" href="#">Psychology</a></li>
    <li><a data-tags="surveillance" href="#">Surveillance</a></li>
    <li><a data-tags="technology" href="#">Technology</a></li>
    <li><a data-tags="text" href="#">Text</a></li>
    <li><a data-tags="video" href="#">Video</a></li>
    <li><a class="red" href="#" data-tags="show-all">Show All</a></li>
  </ul>

  <a id="about" href="{{ '/about' | relative_url }}">About</a><br>
  <a href="{{ '/archive' | relative_url }}">Archive</a>
</div>
