<div id="left">
  <p id="matter"><a href="{{ '/' | relative_url }}">MATTER</a></p>

  <p>Tags</p>
  <ul id="leftTags">
    <li><a data-tags="mathematics" href="#">Mathematics</a></li>
    <li><a data-tags="music" href="#">Music</a></li>
    <li><a data-tags="fiction" href="#">Fiction</a></li>
    <li><a data-tags="philosophical-stuff" href="#">Philosophical Stuff</a></li>
    <li><a data-tags="misc." href="#">Miscellaneous</a></li>
    <li><a class="red" href="#" data-tags="show-all">Show All</a></li>
  </ul>

  <a id="about" href="{{ '/about' | relative_url }}">About</a><br>
  <a href="{{ '/archive' | relative_url }}">Archive</a>
</div>
